* {
  box-sizing: border-box;
}

.timeline-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.health-timeline {
  position: relative;
  width: 100vw;
  flex: 1;
  overflow: hidden;

  &-axis {
    text {
      text-anchor: start;
    }
  }

  &-header {
    display: flex;
    width: 100%;
  }
}

.timeline-data-select {
   &__select {
    max-width: 400px;
    margin: 0 auto;
  }
}

.carousel-wrapper {
  overflow: hidden;
}

.health-timeline-svg-container {
  position: relative;
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.health-timeline-header-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;

  text {
    color: #535663;
  }
}

.health-timeline-header {
  opacity: 1;
  transition: opacity 300ms ease-in-out;

  &.is-hidden {
    opacity: 0;
  }
}

.health-timeline-children {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
}

.health-timeline-carousel {
  position: relative;
  padding: 0;
  background-color: #fff;

  .arrows-container {
    display: none;
    position: absolute;
    top: 50%;
    left: calc(50% + 400px);
    transform: translate(0, -50%);
    z-index: 1;

    @media only screen and (min-width: 900px) {
      display: block;
    }
  }

  .slick-prev,
  .slick-next {
    position: static;
    width: 45px;
    height: 45px;
    transform: rotate(90deg);
  }

  .slick-arrow:before {
    color: #535663;
    font-size: 40px;
    font-weight: 700;
  }
}

.health-timeline-axis {
  path,
  line {
    stroke: #E5E5E5;
    stroke-width: 2px;
  }

  text {
    color: #535663;
    font-size: 10pt;
  }
}

.card {
  display: block;
  max-width: 800px;
  margin: 5px auto;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  height: 200px;
  overflow-y: auto;

  p:first-of-type {
    text-align: center;
  }
}

.button {
  &--link {
    font-size: inherit;
    font-family: inherit;
    color: #fff;
    text-decoration: underline;
    outline: 0;
    border: 0;
    background: none;

    &:hover,
    &:focus {
      color: #88fafa;
      cursor: pointer;
    }
  }
}

.health-timeline-future {
  background-color: #FAF9F9;
  border-radius: 100px 100px 0 0;

  &__content {
    padding: 50px 20px;
  }

  h2 {
    text-align: center;
  }
}
