* {
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.health-timeline {
  width: 100vw;
  margin: 0 auto;
  overflow-y: auto;

  &-axis {
    text {
      text-anchor: start;
    }
  }

  &-header {
    display: flex;
    width: 100%;
  }
}

.health-timeline-header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  display: flex;

  /* TODO: Need to squish titles for small screens */
  &__column {
    text-align: center;
    flex: 1;
    padding: 5px 10px;
  }
}

.health-timeline-carousel {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0 40px;
  background-color: #fff;

  .slick-arrow:before,
  .slick-arrow:after {
    color: #000;
  }
}
