* {
  box-sizing: border-box;
}

.timeline-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.health-timeline {
  position: relative;
  width: 100vw;
  flex: 1;
  overflow: hidden;

  &-axis {
    text {
      text-anchor: start;
    }
  }

  &-header {
    display: flex;
    width: 100%;
  }
}

.health-timeline-svg-container {
  width: 100%;
  max-height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.health-timeline-header-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  pointer-events: none;

  text {
    color: #535663
  }
}

.health-timeline-carousel {
  padding: 0 40px;
  background-color: #fff;

  .slick-arrow:before,
  .slick-arrow:after {
    color: #000;
  }
}

.health-timeline-axis {
  path,
  line {
    stroke: #E5E5E5;
    stroke-width: 2px;
  }

  text {
    color: #535663;
    font-size: 10pt;
  }
}

.card {
  display: block;
  max-width: 400px;
  margin: 5px auto;
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  height: 200px;
  overflow-y: auto;

  p:first-of-type {
    text-align: center;
  }
}

.button {
  &--link {
    font-size: inherit;
    font-family: inherit;
    color: #fff;
    text-decoration: underline;
    outline: 0;
    border: 0;
    background: none;

    &:hover,
    &:focus {
      color: #88fafa;
      cursor: pointer;
    }
  }
}
